@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro Light", Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
